@{
	ViewBag.Title = "About";
}
@section header {
	<h2>@ViewBag.Title</h2>
}
<div class="transparent-blackbox padded-box">
	<h3>Praesent commodo magna eu urna sodales, et ornare libero bibendum.</h3>
	<p>
		Duis est nisl, rhoncus in porttitor quis, tincidunt id massa. Nulla facilisi.
		Mauris eget pretium ligula. Proin quis tortor at dui sagittis bibendum nec eu ligula.
		Etiam sed fringilla ipsum. Maecenas laoreet in ligula eget posuere. Sed sapien sem,
		consectetur sit amet ipsum ut, varius molestie sem. Sed a ultrices ex. Ut suscipit
		imperdiet purus, vitae efficitur lectus volutpat hendrerit. Vestibulum id tellus nec
		risus aliquet egestas ac eu ipsum. Duis id felis at purus viverra aliquam at vitae sapien.
		Cras porttitor dignissim tempor. Sed a purus justo.
	</p>
</div>