@{
	ViewBag.Title = "Contact";
}

@section header {
	<h2>@ViewBag.Title</h2>
}

<div class="transparent-blackbox padded-box">
	<h3>Maecenas at bibendum purus.</h3>

	<address>
		567 Wardrobe Way<br />
		Alaska, WA 98052-6399<br />
		<abbr title="Phone">P:</abbr>
		425.555.7269
	</address>
</div>
<div class="transparent-blackbox padded-box">
	<address>
		<strong>Support:</strong>   <a href="mailto:Support@wardrobe.com">Support@wardobe.com</a><br />
		<strong>Marketing:</strong> <a href="mailto:Marketing@wardrobe.com">Marketing@wardrobe.com</a>
	</address>
</div>